@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url('./fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
         url('./fonts/open-sans/OpenSans-Light.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Light.ttf') format('ttf');

}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('./fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
         url('./fonts/open-sans/OpenSans-Regular.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-Regular.ttf') format('ttf');

}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url('./fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
         url('./fonts/open-sans/OpenSans-SemiBold.woff') format('woff'),
         url('./fonts/open-sans/OpenSans-SemiBold.ttf') format('ttf');

}

html {
    body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 300;
        // background: url(./bg.svg);
    }
}

.bawailmu-bg-main {
    background: linear-gradient(-180deg,#f53d2d,#f63);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(-180deg, rgb(245, 61, 45), rgb(255, 102, 51));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.text-header {
    color: #fff;
    text-decoration: none;
    font-size: .8125rem;
    font-weight: 300;
    padding: 0 .4375rem;
}

.border-right {
    border-right: 2px solid hsla(0,0%,100%,.22);
}
.text-sh {
    font-weight: 300;
    font-size: .8125rem;
    text-transform: capitalize;
}

.text-favorite {
    font-size: .75rem;
    font-weight: 300;
    line-height: .875rem;
}

.jrtc-bg-dark {
    background-color: #003334;
}

.jrtc-bg-blue {
    background-color: #0edcfd;
}

.jrtc-w-10 {
    width: 15%;
}